@page
@using AnimalSource.Components
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome to AnimalSource!</h1>
</div>

<!--
html <div class="card-colums"> with foreach was here
-->

@(await Html.RenderComponentAsync<AnimalList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>